<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="turkuvaz.general.turkuvazgeneralwidgets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true" android:hardwareAccelerated="true" android:largeHeap="true">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>
</manifest>
