<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="turkuvaz.general.turkuvazgeneralactivitys">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:name=".TvSeriesActivity.TvSeriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgrammesActivity.ProgrammesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TvSeriesActivity.TvSeriesTabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StreamingList.StreamingList"
            android:screenOrientation="portrait" />
        <activity android:name=".BaseGeneralActivity" />
        <activity
            android:name=".InfinityGallery.GalleryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfinityGalleryWithSlider.GalleryActivityWithSlider"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LastMinute.LastMinuteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationsNews.NotificationsNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ColumnistDetail.ColumnistDetailActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ColumnistsDetailSlider.AllColumnistsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InternalBrowser.InternalBrowser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsPaperBrowser.NewsPaperBrowser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsPaperBrowser.SingleNewsPaperPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
       <!-- <activity
            android:name=".AuthorArchive.AuthorsArchive"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".AuthorArchive.AuthorsArchive"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsDetails.NewsListMode.NewsDetailListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsDetails.NewsDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TurkuvazBaseComponentActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".InfinityGallery.GalleryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="turkuvaz.general.turkuvazgeneralactivitys.InstallReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>